build*/
*.csv
*.png
*.spy
!benchmarks/*.csv
!benchmarks/*.png
!docs/logo/*.png
perf.*

# Visual Studio Code
.vscode/settings.json

# CMake
CMakeUserPresets.json

# Python
*.egg-info/
.py-build-cmake_cache/
__pycache__/
dist/

# macOS
.DS_Store
