[project]
name = "sleipnirgroup-jormungandr"
description = "A linearity-exploiting sparse nonlinear constrained optimization problem solver that uses the interior-point method."
version = "0.0.1.dev5"
readme = "README.md"
requires-python = ">=3.7"
dependencies = [ "numpy", "scipy" ]

  [project.license]
  file = "LICENSE.txt"

  [project.urls]
  Documentation = "https://sleipnirgroup.github.io/Sleipnir/"

[build-system]
requires = [ "py-build-cmake~=0.1.8", "pybind11", "pybind11-mkdoc", "clang==16.0.6", "pybind11-stubgen" ]
build-backend = "py_build_cmake.build"

[tool.py-build-cmake.module]
name = "jormungandr"
directory = "."

[tool.py-build-cmake.sdist]
include = [
  "CMakeLists.txt",
  "SleipnirConfig.cmake.in",
  "cmake/modules/*.cmake",
  "cmake/*.patch",
  "jormungandr/*",
  "include/*",
  "src/*"
]
exclude = [ ]

[tool.py-build-cmake.cmake]
build_type = "Release"
source_path = "."
build_args = [ "--target", "_jormungandr" ]
install_components = [ "python_modules" ]
install_args = [ "--strip" ]

  [tool.py-build-cmake.cmake.options]
  BUILD_BENCHMARKING = "OFF"
  BUILD_TESTING = "OFF"
  BUILD_PYTHON = "ON"

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [ "jormungandr/test" ]
