name: Build

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-native:
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact-name: Windows
            cmake-config-env-vars:
            os: windows-2022
            target: ALL_BUILD
          - artifact-name: Linux
            cmake-config-env-vars:
            os: macOS-11
            target: all
          - artifact-name: macOS
            cmake-config-env-vars: CFLAGS="$CFLAGS -arch x86_64 -arch arm64" CXXFLAGS="$CXXFLAGS -arch x86_64 -arch arm64"
            os: macOS-11
            target: all

    name: "${{ matrix.artifact-name }}"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: ilammy/msvc-dev-cmd@v1.12.0
        if: matrix.artifact-name == 'Windows'

      - name: configure
        run: ${{ matrix.cmake-config-env-vars }} cmake -B build -S .

      - name: build
        run: cmake --build build --target ${{ matrix.target }} --config RelWithDebInfo --parallel $(nproc)

      - name: test
        working-directory: build
        run: ctest -C RelWithDebInfo --output-on-failure

      - name: install
        run: cmake --install build --config RelWithDebInfo --prefix pkg

      - uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ matrix.artifact-name }}
          path: pkg

  build-cross:
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact-name: roboRIO
            container: wpilib/roborio-cross-ubuntu:2023-22.04
            toolchain: /usr/local/toolchain-config.cmake

    name: "${{ matrix.artifact-name }}"
    runs-on: ubuntu-22.04
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v3

      - name: configure
        run: cmake -B build -S . --toolchain ${{ matrix.toolchain }}

      - name: build
        run: cmake --build build --config RelWithDebInfo --parallel $(nproc)

      - name: install
        run: cmake --install build --config RelWithDebInfo --prefix pkg

      - uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ matrix.artifact-name }}
          path: pkg

  build-wasm:
    name: "Wasm"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup emscripten
        uses: numworks/setup-emscripten@latest

      - name: configure
        run: emcmake cmake -B build -S . -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DBUILD_BENCHMARKING=OFF -DBUILD_TESTING=OFF -DFMT_INSTALL=ON

      - name: build
        run: cmake --build build --config Release --parallel $(nproc)

      - name: install
        run: cmake --install build --config Release --prefix pkg

      - uses: actions/upload-artifact@v3.1.1
        with:
          name: Wasm
          path: pkg
