name: Lint and Format

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  pybind11_mkdoc:
    name: "pybind11_mkdoc"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install LLVM 21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-21 200
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-21 200
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
          echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV

      - run: pip3 install --user --break-system-packages pybind11_mkdoc

      - run: cmake -B build -S . -DBUILD_PYTHON=ON

      # Ensures _sleipnir_docstrings rule runs
      - run: cmake --build build -t clean

      - run: cmake --build build -t _sleipnir_docstrings

      - name: Check output
        run: git --no-pager diff --exit-code HEAD

      - name: Generate diff
        run: git diff HEAD > pybind11_mkdoc-fixes.patch
        if: ${{ failure() }}

      - uses: actions/upload-artifact@v5
        with:
          name: pybind11_mkdoc fixes
          path: pybind11_mkdoc-fixes.patch
        if: ${{ failure() }}

      - name: Write to job summary
        run: |
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          cat pybind11_mkdoc-fixes.patch >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
        if: ${{ failure() }}

  wpiformat:
    name: "wpiformat"
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Fetch all history and metadata
        run: |
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install wpiformat==2025.69

      - run: wpiformat

      - name: Check output
        run: git --no-pager diff --exit-code HEAD

      - name: Generate diff
        run: git diff HEAD > wpiformat-fixes.patch
        if: ${{ failure() }}

      - uses: actions/upload-artifact@v5
        with:
          name: wpiformat fixes
          path: wpiformat-fixes.patch
        if: ${{ failure() }}

      - name: Write to job summary
        run: |
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          cat wpiformat-fixes.patch >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
        if: ${{ failure() }}

  tidy:
    name: "clang-tidy"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Fetch all history and metadata
        run: |
          git config --global --add safe.directory /__w/Sleipnir/Sleipnir
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install wpiformat==2025.69

      - name: Create compile_commands.json
        run: cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=YES

      - name: List changed files
        run: wpiformat -list-changed-files

      - name: Run clang-tidy
        run: wpiformat -no-format -tidy-all -compile-commands=build -tidy-extra-args std=c++23
