name: Website

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    if: ${{ github.repository_owner == 'SleipnirGroup' }}

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Make GCC 14 the default toolchain (Linux)
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 200
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 200

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install pybind11-mkdoc
      - run: sudo apt-get install -y doxygen
      - run: ./tools/generate_website.py

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v4
        with:
          path: build/html

      - uses: actions/deploy-pages@v4
        id: deployment
